:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --white: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
}

/* Основной цвет текста  #212121*/
/* Вспомогательный цвет текста  #757575 rgba(255, 255, 255, 0.6) */

/* Акцент #2196F3 */
body {
  /* background-color: #e5e5e5; */
  color: #212121;
  font-family: "Roboto", sans-serif;
}

/* Служебные стили */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Site-nav */

.logo-accent {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo {
  color: var(--primary-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.site-nav .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.site-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Adress */
.header-adress .adress-link:hover,
.header-adress .adress-link:focus {
  color: var(--accent-color);
}

.adress-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-adress .adress-link.current {
  color: var(--accent-color);
}

/* Section-title */

.section-title {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Hero */

.hero {
  background: var(--secondary-background-color);
}

.hero-title {
  color: var(--white);
  background-color: var(--secondary-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Преимущества */

.advantages .discription {
  color: var(--secondary-text-color);
}

.advantage-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.advantages .discription {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Team */

.team {
  background-color: var(--third-background-color);
}

.team-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}

.role {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
}

/* Button */
.button {
  font-family: inherit;
  color: var(--white);
  background-color: var(--accent-color);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-title .button:hover,
.hero-title .button.filter:focus {
  background-color: var(--accent-color);
  color: var(--white);
}

/* Footer */

.footer {
  background: var(--secondary-background-color);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--white);
}

.footer .logo {
  color: var(--white);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.footer .logo-accent {
  color: var(--accent-color);
}

.footer-adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--white);
}

.footer-email {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}

.footer-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}

/* Портфолио */

/* Filter */
.filter {
  font-family: inherit;
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--third-background-color);
}

.filter.current {
  background-color: var(--accent-color);
  color: var(--white);
}

.filter:hover,
.filter:focus {
  background-color: var(--accent-color);
  color: var(--white);
}

.portfolio-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-type {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
